body{
	font-family: 'Allerta', sans-serif;
}

figure img{
	width: 186px;
	height: 60px;
}

article img{
	width: 200px;
}

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
}

.title-a{
	font-size: 24px;
}

.title-b{
	font-size: 50px;
}

.guitarras{
	color: #1f313c;
}

.guitarras h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.portada{
	background-image: url('../images/background.png');
	color: #fff;
}

.menu{
	font-size: 24px;
}