@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7ejkzv');
  src:  url('../fonts/icomoon.eot?7ejkzv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7ejkzv') format('truetype'),
    url('../fonts/icomoon.woff?7ejkzv') format('woff'),
    url('../fonts/icomoon.svg?7ejkzv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}
.icon-mail:before {
  content: "\ea86";
}



body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

.contenedor{	
	max-width: 800px;
	margin: auto;
	position: relative;
}

.background{	
	background-image: url('../images/background.png');
	background-size: cover;
}

div.col1 > input, div.sexo, div.intereses{
	margin-bottom: 15px;
}

textarea{
	margin-bottom: 15px;
}


table{
	width: 100%;
}

th{
	background: #273b47;
	color: #fff;
	padding: 10px 20px;
	text-align: left;
}

td{
	padding: 20px;
}

table, td, th{
	border: 1px solid #273b47;
	border-collapse: collapse;
}

input, textarea{
	outline: 0;
}

input:focus, textarea:focus{
	background: lightgray;
}

.button{
	border-radius: 5px;
	border: none;
	background: #fd324e;
	color: #fff;
	padding: 7px 14px;
	font-size: 18px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
	text-decoration: none;
}

figure img{
	width: 186px;
	height: 60px;
}

article img{
	width: 350px;
}

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 0;
	margin-top: 70px;
}

.titulo span{
	text-decoration: underline;
}

.title-a{
	font-size: 24px;
	margin-top: 0;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.guitarras{
	color: #1f313c;
	margin-bottom: 60px;
}

.guitarras h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.portada{
	color: #fff;
	padding: 20px;
	height: 500px;
}

.portada button{
	margin-bottom: 70px;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
}

.menu li:before{
	content: "•";
	line-height: 20px;
	color: #fff;
}

.menu a{
	color: #fff;
	text-decoration: none;
}

.logo{
	display: inline-block;
	margin-left: 0;
}

.guitarra{
	margin: 10px;
	padding: 10px 10px 30px 10px;
	border: 1px solid #1f313c;
	border-radius: 5px;
}

.guitarra ol{
	padding: 0;
}

.guitarra.b{
	height: 190px;
}

.derecha{
	float: right;
	position: relative;
	top: -127px;
}

.izquierda{
	float: left;
	position: relative;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.header{
	position: relative;
}

.footer{
	background: #273b47;
	padding: 50px 10px;
}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}

.contacto a{
	color: #fff;
	text-decoration: none;
	margin: 10px 10px 10px 0px;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 400px;
	color: #fff;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.intereses label{
	font-size: 12px;
}

.tabla{
	margin: 50px 0px;
}

.burguer-button{
	color: #fff;
	cursor: pointer;
	display: none;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #395667;
	text-align: center;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 3;
}

@media screen and (max-width: 800px){
	
	.tabla{
		margin: 50px 10px;
	}

	.tabla .contenedor{
		overflow: auto;
		border: 1px solid #273b47;
	}

	/*Modificando Portada*/
	.titulo{
		font-size: 45px;
		margin-top: 30px;
	}

	.title-a{
		font-size: 18px;
	}

	.portada{
		height: auto;
	}

	.portada .button{
		display: inline-block;
		margin-bottom: 30px;
	}
	/*Fin Portada*/


	/*Guitarras*/
	.guitarras{
		text-align: center;
	}

	.izquierda, .derecha{
		float: none;
		position: static;
	}

	.title-b{
		margin: 0;
	}

	.guitarra li{
		list-style: none;
	}

	.guitarra.b{
		height: auto;
	}

	.contenedor-guitarra-b{
		position: static;
		margin: 0;
	}

	.contenedor-guitarra-a{
		padding: 0;
	}
	/*Fin Guitarras*/
}

@media screen and (max-width: 767px){
	.footer .contenedor{
		display: block;
	}

	.contacto{
		margin: 0 auto;
	}

	.formulario{
		display: block;
		margin: 0 auto;
		width: 300px;
	}

	.col1{
		margin: 0;
	}

	.intereses label{
		display: block;
		font-size: 18px;
	}

	input[type="text"],
	input[type="email"]{
		font-size: 16px;
		padding: 5px;
	}

	input[type="radio"],
	input[type="checkbox"]{
		zoom: 1.5;
	}

	textarea{
		width: 100%;
	}
}

@media screen and (max-width: 650px){
	.header{
		text-align: center;		
	}

	.logo{
		margin: 0;
	}

	.menu{
		position: static;
		display: block;
	}

	.menu line:first-child{
		margin: 0;
	}

	.menu ul{
		padding: 0;
	}
}

@media screen and (max-width: 500px){
	.precios .header .logo{
		padding: 40px 0px;
	}

	.portada .contenedor{
		position: static;
	}

	.header, .header .contenedor{
		position: static;
	}

	.burguer-button{
		display: inline-block;
	}

	.menu{
		background: rgba(255, 60, 88, .8);
		position: fixed;
		top: 0;
		left: -100%;
		bottom: 0;
		right: 0;
		z-index: 2;
		display: flex;
		align-items: center;
		width: 100%;
		transition: .3s;
	}

	.menu.active{
		left: 0;
	}

	.menu ul{
		flex: 1;
	}

	.menu li{
		display: block;
		margin: 0;
		padding: 8px 0px;
		border-bottom: 1px solid #fff;
	}

	.menu li:before{
		display: none;
	}

	.menu li:first-child{
		border-top: 1px solid #fff;
	}

	.portada{
		text-align: center;
	}

	.titulo{
		font-size: 30px;
	}

	.title-a{
		font-size: 14px;
	}


	.guitarra img{
		width: 200px;
	}

	.title-b{
		font-size: 30px;
	}
}